We are interested in:
- Temperature 
- Precipitation
- Wind

date range we are looking: 2019-01-02 to 2019-06-30.

- Download them in https://opendata.dwd.de/climate_environment/CDC/observations_germany/climate/10_minutes/  -> get folders of weather/raw

NOTE: QN - quality . 3 means Fully quality-controlled and corrected.

**Precipitation**

In [33]:
import os
import pandas as pd
from IPython.display import display

DATA_ROOT = r"C:\Users\user\UPM\Imperial-4año\IoT\Github\hugging_face\weather_berlin-tempel"

# ---- Load CLEANED temperature metadata ----
meta_path = os.path.join(DATA_ROOT, "interest", "metadata", "precipitation.csv")
meta_raw = pd.read_csv(meta_path)

display(meta_raw)

,Stations_ID,From_Date,To_Date,Station_Name,Parameter,Parameter_Description,Unit,Data_Source (Structure_Version=SV),Additional_Info,Special_Features,Literature_Reference
0,433,19950101,19991231.0,Berlin-Tempelhof,RWS_10,Sum of precipitation in the previous 10 minutes,mm,10-minute values from automatic stations of th...,HHMM CET,NaN,NaN
1,433,19991231,20081120.0,Berlin-Tempelhof,RWS_10,Sum of precipitation in the previous 10 minutes,mm,10-minute values from automatic stations of th...,HHMM UTC,NaN,NaN
2,433,20081120,20251208.0,Berlin-Tempelhof,RWS_10,Sum of precipitation in the previous 10 minutes,mm,from Measurement_Network_2000,HHMM UTC,NaN,NaN
3,433,20081125,20251208.0,Berlin-Tempelhof,RWS_DAU_10,Precipitation duration 10 min,Minutes,from Measurement_Network_2000,HHMM UTC,NaN,NaN
4,433,19950111,19991231.0,Berlin-Tempelhof,RWS_IND_10,Precipitation indicator 10 min,numeric code,10-minute values from automatic stations of th...,HHMM CET,NaN,NaN
5,433,19991231,20081120.0,Berlin-Tempelhof,RWS_IND_10,Precipitation indicator 10 min,numeric code,10-minute values from automatic stations of th...,HHMM UTC,NaN,NaN
6,433,20081125,20251208.0,Berlin-Tempelhof,RWS_IND_10,Precipitation indicator 10 min,numeric code,from Measurement_Network_2000,HHMM UTC,NaN,NaN

In [30]:
# only var names etc
meta = meta_raw[(meta_raw["From_Date"] <= 20190102) & (meta_raw["To_Date"] >= 20190630)]
meta = meta[["Parameter", "Parameter_Description", "Unit"]]
display(meta)

# ---- Load raw precipitation data ----
raw_path = os.path.join(
    DATA_ROOT,
    "raw",
    "precipitation",
    "10minutenwerte_nieder_00433_20100101_20191231_hist",
    "produkt_zehn_min_rr_20100101_20191231_00433.txt",
)

df = pd.read_csv(raw_path, sep=";", engine="python")

# Remove eor column if present
df = df.loc[:, ~df.columns.str.contains("eor")]

# Convert date
df["MESS_DATUM"] = pd.to_datetime(df["MESS_DATUM"], format="%Y%m%d%H%M")

# Filter
mask = (df["MESS_DATUM"] >= "2019-01-02") & (df["MESS_DATUM"] <= "2019-06-30")
df = df.loc[mask]

print("\n=== Filtered precipitation data ===")
display(df)

# ---- Save output ----
save_path = os.path.join(DATA_ROOT, "interest", "precipitation.csv")
df.to_csv(save_path, index=False)

print(f"\nSaved filtered precipitation data -> {save_path}")

  Parameter                             Parameter_Description     Unit
2     DD_10  Mean wind direction over the previous 10 minutes  degrees
5     FF_10      Mean wind speed over the previous 10 minutes      m/s

=== Filtered precipitation data ===

        STATIONS_ID          MESS_DATUM    QN  RWS_DAU_10  RWS_10  RWS_IND_10
473472          433 2019-01-02 00:00:00     3           0     0.0           0
473473          433 2019-01-02 00:10:00     3           0     0.0           0
473474          433 2019-01-02 00:20:00     3           0     0.0           0
473475          433 2019-01-02 00:30:00     3           0     0.0           0
473476          433 2019-01-02 00:40:00     3           0     0.0           0
...             ...                 ...   ...         ...     ...         ...
499244          433 2019-06-29 23:20:00     3           0     0.0           0
499245          433 2019-06-29 23:30:00     3           0     0.0           0
499246          433 2019-06-29 23:40:00     3           0     0.0           0
499247          433 2019-06-29 23:50:00     3           0     0.0           0
499248          433 2019-06-30 00:00:00     3           0     0.0           0

[25777 rows x 6 columns]

Saved filtered precipitation data -> C:\Users\user\UPM\Imperial-4año\IoT\Github\hugging_face\weather_berlin-tempel\interest\precipitation.csv

In [31]:
num_cols = [c for c in df.select_dtypes(include="number").columns 
            if c not in ["STATIONS_ID", "MESS_DATUM"]]

print(df[num_cols].describe().T[["mean", "std", "min", "max"]])

                mean        std    min    max
  QN        3.000000   0.000000    3.0   3.00
RWS_DAU_10 -1.905420  54.656184 -999.0  10.00
RWS_10     -4.990656  70.496518 -999.0  11.77
RWS_IND_10 -2.842146  54.528592 -999.0   1.00

**Temperature**

In [20]:
import os
import pandas as pd
from IPython.display import display

DATA_ROOT = r"C:\Users\user\UPM\Imperial-4año\IoT\Github\hugging_face\weather_berlin-tempel"

# ---- Load CLEANED temperature metadata ----
meta_path = os.path.join(DATA_ROOT, "interest", "metadata", "temperature.csv")
meta_raw = pd.read_csv(meta_path)

# display(meta)

In [27]:
# only var names etc
meta = meta_raw[(meta_raw["From_Date"] <= 20190102) & (meta_raw["To_Date"] >= 20190630)]
meta = meta[["Parameter", "Parameter_Description", "Unit"]]
display(meta)

# ---- Load raw temperature data ----
raw_path = os.path.join(
    DATA_ROOT,
    "raw",
    "temperature",
    "10minutenwerte_TU_00433_20100101_20191231_hist",
    "produkt_zehn_min_tu_20100101_20191231_00433.txt",
)

df = pd.read_csv(raw_path, sep=";", engine="python")

# Remove eor column if present
df = df.loc[:, ~df.columns.str.contains("eor")]

# Convert date
df["MESS_DATUM"] = pd.to_datetime(df["MESS_DATUM"], format="%Y%m%d%H%M")

# Filter
mask = (df["MESS_DATUM"] >= "2019-01-02") & (df["MESS_DATUM"] <= "2019-06-30")
df = df.loc[mask]

print("\n=== Filtered temperature data ===")
display(df)

# ---- Save output ----
save_path = os.path.join(DATA_ROOT, "interest", "temperature.csv")
df.to_csv(save_path, index=False)

print(f"\nSaved filtered temperature data -> {save_path}")

  Parameter                             Parameter_Description     Unit
2     DD_10  Mean wind direction over the previous 10 minutes  degrees
5     FF_10      Mean wind speed over the previous 10 minutes      m/s

=== Filtered temperature data ===

,STATIONS_ID,MESS_DATUM,QN,PP_10,TT_10,TM5_10,RF_10,TD_10
473472,433,2019-01-02 00:00:00,3,1008.9,3.0,1.5,72.4,-1.5
473473,433,2019-01-02 00:10:00,3,1008.8,2.9,1.4,72.9,-1.5
473474,433,2019-01-02 00:20:00,3,1008.9,2.8,1.2,73.6,-1.5
473475,433,2019-01-02 00:30:00,3,1009.0,2.9,1.3,73.1,-1.4
473476,433,2019-01-02 00:40:00,3,1009.0,3.0,1.5,72.1,-1.5
...,...,...,...,...,...,...,...,...
499244,433,2019-06-29 23:20:00,3,1010.8,19.2,10.9,59.2,11.0
499245,433,2019-06-29 23:30:00,3,1010.8,18.9,10.6,60.3,11.0
499246,433,2019-06-29 23:40:00,3,1010.8,18.7,10.5,60.1,10.8
499247,433,2019-06-29 23:50:00,3,1010.7,18.6,10.4,62.1,11.2
499248,433,2019-06-30 00:00:00,3,1010.6,18.7,10.0,62.3,11.3

Saved filtered temperature data -> C:\Users\user\UPM\Imperial-4año\IoT\Github\hugging_face\weather_berlin-tempel\interest\temperature.csv

In [29]:
num_cols = [c for c in df.select_dtypes(include="number").columns 
            if c not in ["STATIONS_ID", "MESS_DATUM"]]

print(df[num_cols].describe().T[["mean", "std", "min", "max"]])

               mean         std    min     max
  QN       3.000000    0.000000    3.0     3.0
PP_10   1009.826842   10.904741  980.8  1040.0
TT_10     10.141948    8.035991   -6.9    37.4
TM5_10    -7.870241  130.954087 -999.0    41.9
RF_10     16.182453  226.787567 -999.0    98.4
TD_10    -44.192202  212.715896 -999.0    20.0

**Wind**

In [25]:
import os
import pandas as pd
from IPython.display import display

DATA_ROOT = r"C:\Users\user\UPM\Imperial-4año\IoT\Github\hugging_face\weather_berlin-tempel"

# ---- Load CLEANED temperature metadata ----
meta_path = os.path.join(DATA_ROOT, "interest", "metadata", "wind.csv")
meta_raw = pd.read_csv(meta_path)

# display(meta)

In [34]:
# only var names etc
meta = meta_raw[(meta_raw["From_Date"] <= 20190102) & (meta_raw["To_Date"] >= 20190630)]
meta = meta[["Parameter", "Parameter_Description", "Unit"]]
display(meta)

# ---- Load raw wind data ----
raw_path = os.path.join(
    DATA_ROOT,
    "raw",
    "wind",
    "10minutenwerte_wind_00433_20100101_20191231_hist",
    "produkt_zehn_min_ff_20100101_20191231_00433.txt",
)

df = pd.read_csv(raw_path, sep=";", engine="python")

# Remove eor column if present
df = df.loc[:, ~df.columns.str.contains("eor")]

# Convert date
df["MESS_DATUM"] = pd.to_datetime(df["MESS_DATUM"], format="%Y%m%d%H%M")

# Filter
mask = (df["MESS_DATUM"] >= "2019-01-02") & (df["MESS_DATUM"] <= "2019-06-30")
df = df.loc[mask]

print("\n=== Filtered wind data ===")
display(df)

# ---- Save output ----
save_path = os.path.join(DATA_ROOT, "interest", "wind.csv")
df.to_csv(save_path, index=False)

print(f"\nSaved filtered wind data -> {save_path}")

    Parameter                            Parameter_Description          Unit
2      RWS_10  Sum of precipitation in the previous 10 minutes            mm
3  RWS_DAU_10                    Precipitation duration 10 min       Minutes
6  RWS_IND_10                   Precipitation indicator 10 min  numeric code

=== Filtered wind data ===

        STATIONS_ID          MESS_DATUM    QN  FF_10  DD_10
473472          433 2019-01-02 00:00:00     3    9.0    300
473473          433 2019-01-02 00:10:00     3    9.0    300
473474          433 2019-01-02 00:20:00     3    9.0    300
473475          433 2019-01-02 00:30:00     3    9.9    300
473476          433 2019-01-02 00:40:00     3    9.9    300
...             ...                 ...   ...    ...    ...
499244          433 2019-06-29 23:20:00     3    1.1    160
499245          433 2019-06-29 23:30:00     3    0.7    170
499246          433 2019-06-29 23:40:00     3    0.5    220
499247          433 2019-06-29 23:50:00     3    0.8    190
499248          433 2019-06-30 00:00:00     3    1.1    170

[25777 rows x 5 columns]

Saved filtered wind data -> C:\Users\user\UPM\Imperial-4año\IoT\Github\hugging_face\weather_berlin-tempel\interest\wind.csv

In [35]:
num_cols = [c for c in df.select_dtypes(include="number").columns 
            if c not in ["STATIONS_ID", "MESS_DATUM"]]

print(df[num_cols].describe().T[["mean", "std", "min", "max"]])

             mean         std    min    max
  QN     3.000000    0.000000    3.0    3.0
FF_10   -0.550910   67.448578 -999.0   14.3
DD_10  196.172053  125.143788 -999.0  360.0